extends layout


block header
  meta(property="fb:app_id", content="682969031761091")
  meta(property="og:title", content=title)
  meta(property="og:site_name", content="Dang Cold")
  meta(property="og:url", content=url)
  meta(property="og:description", content=description)
  meta(property="og:image", content=fbimg)
  meta(property="twitter:card", content="summary")
  meta(property="twitter:title", content=title)
  meta(property="twitter:description", content=description)
  meta(property="twitter:image", content=fbimg)

block content

  .jumbotron
    - var containerStyle = 
    .quiz-container(style="background-image: url(" + bgimg + ")")
      .quiz-title
        h2 Mystery Quiz
      .quiz-intro
        p.
          Answer the following questions and we will reveal something
          interesting about your inner self!
        p.
          However, we know that everyone cheats on these things.  You take 
          the "What Star Wars Character Are You?" quiz, and you decide you 
          want to get Han Solo, so you answer all the questions like "What 
          Would Han Solo Do"?
        p.
          So to prevent this from happening, we won't tell you 
          what quiz you've been taking until you're finished.

        a(href="q1.html", class="btn btn-lg btn-primary") Let's Do This!

