extends layout

block content

  .jumbotron
    .quiz-container
      .container.quiz-question

        .row
          h2(class="text-center")= title
        - for (var i = 0; i < answers.length; i += 2) {
          .row 
            .col-md-6
              a(href=nextpage)
                img(src=answers[i].img, class="image-question", title=answers[i].title)
              p(class="text-center")= answers[i].title
            .col-md-6
              a(href=nextpage)
                img(src=answers[i+1].img, class="image-question", title=answers[i+1].title)
              p(class="text-center")= answers[i+1].title
        - }


  
